<h1>Make a Reservation</h1>
<form (ngSubmit)="submitReservation()">
  <label>Name:</label>
  <input [(ngModel)]="reservationData.name" name="name" required><br>

  <label>Email:</label>
  <input [(ngModel)]="reservationData.email" name="email" required type="email"><br>

  <label>Number of Persons:</label>
  <input [(ngModel)]="reservationData.persons" name="persons" type="number" min="1" max="20" required><br>

  <label>Date:</label>
  <input [(ngModel)]="reservationData.date" name="date" type="date" required><br>

  <label>Time:</label>
  <input [(ngModel)]="reservationData.time" name="time" type="time" required><br>

  <button type="submit">Reserve</button>
</form>

