{% extends "base.html" %}

{% load static %}
{% block class %}class="sub_page"{% endblock class %}

{% block about_status %}active{% endblock about_status %}

{% block main %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/new2.png' %} " alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are bon appetit
              </h2>
              <p>
                At bon appetit, we blend culinary excellence with warm hospitality. Our journey began with a passion for creating exceptional dining experiences. From our cozy ambiance to our commitment to quality ingredients, every detail reflects our love for food and community. Join us as we invite you to savor the stories behind each dish—a delicious tale waiting to unfold
              </p>
            </div>
           
              
              <div>
                <p>
                {% for i in data %}
                {{ i.Description|safe }}
                {% endfor %}
              </p>
             </div>
             
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

{% endblock main %}